<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1031408023382-u5oe4onceslq8i095jg66571u33fohoi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1031408023382-u5oe4onceslq8i095jg66571u33fohoi</string>
	<key>API_KEY</key>
	<string>AIzaSyDRkwz2-COK5QIbzW-_6O9tvKd0flcF70M</string>
	<key>GCM_SENDER_ID</key>
	<string>1031408023382</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mapExam</string>
	<key>PROJECT_ID</key>
	<string>myfirst-tech-task</string>
	<key>STORAGE_BUCKET</key>
	<string>myfirst-tech-task.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1031408023382:ios:39019e326afb7d890808f7</string>
</dict>
</plist>